# Bun
node_modules
bun.lockb
bun.lock

# Log files
*.log
.jsm.log

# IDEs and editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store

# Test output
test_output.txt
coverage/
*.out

# Temporary files
tmp/
ttt.yaml
tmp.md
dist/
