# Public Schema Registry Configuration

# DEFAULT JSON SCHEMA VERSION
#
# There are a number of different versions of JSON Schema. More recent versions
# offer additional features and capabilities, but you should choose a version 
# that is supported by all of your organisation's systems. The default below is
# draft-07, which is supported by most systems, but JSON Schema Manager supports
# the following versions:
# - http://json-schema.org/draft-04/schema#
# - http://json-schema.org/draft-06/schema#
# - http://json-schema.org/draft-07/schema# (Default)
# - http://json-schema.org/draft/2019-09/schema
# - http://json-schema.org/draft/2020-12/schema
defaultJsonSchemaVersion: "http://json-schema.org/draft-07/schema#"

# ENVIRONMENT CONFIGURATION
#
# This section defines properties relating to the publication of schemas to an environment.
# Your source code schema files should set $id to "{{ ID }}". On building a distribution, 
# JSM will replace this with the canonical id for the schema in the target environment.
# (See jsm build-dist for more information)
#
# By default, schemas are rendered for your private configuration. To identify a schema
# as a public schema for consumption by third parties, set "x-public": true in the schema.
# This will cause JSM to use your publicUrlRoot instead of the privateUrlRoot.

environments:
  dev:
    privateUrlRoot: "https://dev.json-schemas.internal.example.com/"
    publicUrlRoot: "https://dev.json-schemas.example.com/"
    # You can also use a path for UrlRoots - e.g. "https://internal.example.com/schemas/"

    allowSchemaMutation: true # Permits developers to change schemas after publication: DO NOT DO THIS IN PRODUCTION!
  prod:
    privateUrlRoot: "https://json-schemas.internal.example.com/"
    publicUrlRoot: "https://json-schemas.example.com/"
    isProduction: true # This environment is the production environment.
